<app-header></app-header>
<section class='content container-fluid'>
  <section class='signup-grid-images row d-flex justify-content-center mt-5'>
    <section class='export-grid signup-grid-image position-relative border border-primary col-sm-4 col-md-4 col-12'>
      <img src="assets/images/import-export.jpg" alt="export signup image" srcset="">
      <h4 class='position-absolute export'><a href='#' [routerLink]="['/routePath']">Sign Up... Exportor/Importor</a></h4>
    </section>
    <section class='client-grid signup-grid-image position-relative border border-primary col-sm-4 col-md-4 col-12'>
      <img src="assets/images/seller-buyer.png" alt="client signup image" srcset="">
     <h4 class='position-absolute client'><a href='#' [routerLink]="['/routePath']">Sign Up... Client</a></h4>
    </section>
  </section>
  <div class='clearfix'></div>
  <section class='services row justify-content-center border border-primary mt-5'>
    <section class='col-sm-5 col-md-5 col-12 text-center'>
      <p>The export services offering are</p>
    </section>
    <section class='col-sm-5 col-md-5 col-12 text-center'>
      <p>The client services offering are</p>
    </section>
  </section>
</section>
